<html>
  <head>
    <title>Statistics : The way you want</title>
    <script src="javascripts/_lib/jquery.min.js" type="text/javascript"></script>
    <script src="javascripts/_lib/jquery.flot.js" type="text/javascript"></script>
    <script src="javascripts/application.js" type="text/javascript"></script>
    <script src="javascripts/dataPlot.js" type="text/javascript"></script>
  </head>

  <body>
    <div id="graph" style="width:1200px;height:300px;" />
    <div id="graph2" style="width:1200px;height:300px;" />
  </body>
</html>

