<html>
  <head>
    <title>test></title>
    <script type="text/javascript" src="javascripts/simple.js"></script>
  </head>

  <body>

    Hello there!
    <input type="button" value="crap!" />

  </body>
</html>

